{$DASHBOARD_DOMAIN:localhost} {
	encode gzip

	header {
		Strict-Transport-Security "max-age=31536000; includeSubDomains"
		X-Content-Type-Options "nosniff"
		X-Frame-Options "DENY"
	}

	reverse_proxy www:3000
}

{$BACKEND_DOMAIN:api.localhost} {
	encode gzip

	header {
		Strict-Transport-Security "max-age=31536000; includeSubDomains"
		X-Content-Type-Options "nosniff"
		X-Frame-Options "DENY"
	}

	reverse_proxy server:8888
}

{$STORAGE_DOMAIN:files.localhost} {
	encode gzip

	header {
		Strict-Transport-Security "max-age=31536000; includeSubDomains"
	}

	reverse_proxy minio:9000
}

cli.instant.fidscript.com {
	encode gzip
	reverse_proxy cli-setup:3100
}
